@use 'variables';

.header {
  background: variables.$color-primary;
  color: variables.$color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .8rem 1.2rem;

  .user-info {
    display: flex;
    align-items: center;

    .avatar {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      margin-right: .6rem;
    }
  }

  .dots {
    background: transparent;
    border: none;
    color: variables.$color-white;
    font-size: 1.4rem;
    cursor: pointer;
  }
}
