
// Palette
$color-primary:  #145c63;
$color-white:    #ffffff;
$color-light:    #f7f9fc;
$color-text:     #1c1c1e;
$color-danger:   #d9534f;
$color-success:  #28a745;
$color-background: #DCEFF9;

// Fuente
$fuente-base: 'Poppins', sans-serif;
$radius: 6px;
$shadow: 0 2px 6px rgba(0,0,0,.1);