@use 'variables';
@use 'header';
@use 'sidebar';
@use 'appLayout';
@use 'publicLayout';
@use 'authForm';
@use 'login';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  font-family: variables.$fuente-base;
  color: variables.$color-text;
}

button,
input {
  font: inherit;
}

a { color: variables.$color-primary; }