@use 'variables';
@use 'modal';
@use 'layout/header';
@use 'layout/sidebar';
@use 'layout/appLayout';
@use 'layout/publicLayout';
@use 'dashboard';
@use 'authForm';
@use 'login';
@use 'notFound';
@use 'progressBar';
@use 'profile';
@use 'profilePro';
@use 'toast';
@use "mixins";
@use "utilities";
@use "components/buttons";
@use "components/autocomplete";
@use "components/recetas";
@use 'pacientes';
@use 'kanban';
@use 'formsClinica';
@use 'pacienteDetalle';
@use 'odontograma';
@use 'agenda';
@use 'agendaDiaria';
@use 'disponibilidades';
@use 'modernSelect';

// Reset Global (Elimina el "user agent stylesheet")
// Debe ir después de todos los @use
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: variables.$color-background;
    color: variables.$color-text;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}