@use 'variables';
@use 'modal';
@use 'layout/header';
@use 'layout/sidebar';
@use 'layout/appLayout';
@use 'layout/publicLayout';
@use 'authForm';
@use 'login';
@use 'notFound';
@use 'profile';
@use 'toast';
@use "mixins";
@use "utilities";
@use "components/buttons";
@use "components/autocomplete";
@use "components/recetas";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  font-family: variables.$fuente-base;
  color: variables.$color-text;
}

button,
input {
  font: inherit;
}

a { color: variables.$color-primary; }


/* botoncito link reutilizado */
.link-btn { 
  background:none;
  border:none;
  color: variables.$color-primary;
  cursor:pointer;
  padding:0;
  font-weight:500;
  &:hover{text-decoration:underline}
}
