@use "sass:color";
@use "../mixins" as *;
@use "../variables";

.btn {
  @include input-base;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: variables.$space-sm;
  font-weight: 600;
  cursor: pointer;

  &--primary {
    @include button-variant(variables.$color-primary,
      transparent,
      color.adjust(variables.$color-primary, $lightness: 10%),
      #fff,
      #fff);
  }

  &--secondary {
    @include button-variant(#fff,
      variables.$color-primary,
      color.adjust(#fff, $lightness: -3%),
      variables.$color-primary,
      variables.$color-primary );
  }

  &--ghost {
    background: transparent;
    color: variables.$color-primary;
    border: none;

    &:hover {
      color: color.adjust(variables.$color-primary, $lightness: 20%);
    }
  }
}

.icon-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  background: none;
  cursor: pointer;
  border: none;

  &--danger {
    color: variables.$color-danger;

    &:hover {
      color: color.adjust(variables.$color-danger, $lightness: -20%);
    }
  }
}